* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
  body {
    width: 200%;
    height: 100vh;
    background-color:#000;
    margin-bottom: 100px;
    
    display:grid;
    place-items:center;
  }
  img {
    width: 30%;
    height: 100%;
    object-fit:cover;
    
    -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
    
    transform-origin:center;
    transform:perspective(800px) rotateY(25deg);
    transition:0.5s;
  }
  .container {
    max-width:700px;
    max-height:350px;
    justify-content: center;
    padding-left: 100px;
    margin-left: 390px;
    
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    
  }
  .container:hover img {
    opacity:0.3;
  }
  .container img:hover {
    transform:perspective(800px)       rotateY(0deg);
    opacity:1;
  }