.wrapper{
    align-items: center;
    text-align: center;
    background-image:"../../assets/videos/skopje.mp4" ;
    background-color: brown;
    z-index: -1;
}

.wrapper .content{
    text-align: center;
    font-style: oblique;
    text-transform: capitalize;
    background-color: rgb(26, 26, 26);
}

div{
    margin: 50px;
    color: whitesmoke
}


.video_wrapper{
    height: 40vh ;
    width: 100%;
    /* object-fit: contain; */
    margin-left: 200px;
}





/* @media screen and (max-width: 640px){
    .content h1{
        font-size: 3rem;
    }

    .content p{
        font-size: 1.4rem;
        margin-bottom: 1.6rem;
        
    }
} */