  <div class="popup" id="popup" >
    <div class="popup-inner">
      <div class="popupphoto">
        <img src="https://images.unsplash.com/photo-1581706397227-998518a5ce47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80" alt="" class="skImg">
        <!-- <img src="https://images.unsplash.com/photo-1581706356135-a812505c611e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=461&q=80" alt="" class="skImg"> -->      
      </div>
      <div class="popuptext">
        <h1>skopje</h1>
        <p>Skopje, the capital city of North Macedonia, is a charming and unique destination that offers a blend of rich history and modern culture. The city has a fascinating past that dates back to ancient times, with a diverse mix of influences from various civilizations, including Ottoman, Byzantine, and Roman. Visitors to Skopje can explore the city's many historical landmarks, such as the impressive Stone Bridge, the Skopje Fortress, and the Old Bazaar, which is the largest bazaar in the Balkans. In addition to its historical sites, Skopje also boasts a vibrant cultural scene, with numerous art galleries, museums, and theaters showcasing the city's artistic talents. With its lively nightlife and delicious cuisine, Skopje is a must-visit destination for anyone looking to experience the best of the Balkans.</p>
      </div>
    </div>
  </div>