div{
    color: white;
    margin: 70px;
}

mat-tab-group{
color: white;
margin-top: 20px;
display: flex;
align-items: center;
}

.tabImg{
    width: 1000px;
    height: 550px;
    
}
mat-tab{
    display: flex;
}