<!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Skopje accomodations</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Search hundreds of travel sites at once for hotels in Skopje, Macedonia. Bundle your hotel + city tour and save!
      </p>
      <mat-card-actions>
        <a mat-raised-button color="primary" href="hotels#accomodations">Search hotels...</a>
       </mat-card-actions>
       
        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
      <br><br>
      
      <br>
    </mat-card-content>
    <mat-card-actions>
     <a mat-raised-button color="primary" href="hotels#recomendations">View recomendations</a>
    </mat-card-actions>
    <br><br>
  </mat-card> -->

<!-- <main>
  <article class="card rating_card"> -->
    <!-- Rating state start -->
    <!-- <figure class="circle" data-icon="star"></figure>
    <h1 class="title">How did we do?</h1>

    <p> Please let us know how we did with your support request. All feedback is appreciated
      to help us improve our offering!</p> -->

    <!-- Rating state end -->
  <!-- </article>

  <article class="card thank_you_card hidden"> -->
    <!-- Thank you state start -->
    <!-- <figure class="illustration">
      <img src="https://raw.githubusercontent.com/rathore-himanshu/interactive-rating-component-main/master/images/illustration-thank-you.svg" alt="">
    </figure>
    <p class="result"></p>

    <div class="greet">
      <h1>Thank you!</h1>

      <p> We appreciate you taking the time to give a rating. If you ever need more support,
        don’t hesitate to get in touch!</p>
    </div> -->

    <!-- Thank you state end -->
  <!-- </article>
</main> -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


<section class="articles">
  <article>
    <div class="article-wrapper">
      <div class="article-body">
        <h2 class="title">Macedonia hotels</h2>
        <p class="description">Search hundreds of travel sites at once for hotels in Skopje, Macedonia. Bundle your hotel + flight and save!   </p>
        
          <p>
          <mat-form-field appearance="outline" class="input">
            <mat-label>Where to?</mat-label>
            <input matInput class="placeholder" placeholder="City">
            <mat-icon matSuffix><mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
             
            </mat-card-header></mat-icon>
          </mat-form-field>
          
    <mat-card-actions>
      <a mat-stroked-button color="primary" href="hotels#hotels" class="searchBtn">Search hotels</a>
     </mat-card-actions></p>
     <!-- <p>----------------or---------------</p> -->
     <mat-card-actions>
      <a mat-stroked-button color="primary" href="hotels#recomendations" class="recomBtn">Get recomendations</a>
     </mat-card-actions>
        
        <!-- <a href="#" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a> -->
      </div>
    </div>
  </article>
</section>

