
<section class="hotels-body">
    <section class="accomodations">
        <div class="hotels-header">
            <app-card-hotel>
            </app-card-hotel>
        </div>
    </section>
    <br><br><br>
    
    <br id="recomendations">
    <h1 class="titleRec">Skopje Luxury Hotels</h1>
    <hr>

    <div class="recomendations" >   
        <div class="rec-item" *ngFor="let hotel of HotelsRecomList">
            <app-cards-recomended-hotels  [Hotel]="hotel" [class.hover]="isHovered === true" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
            </app-cards-recomended-hotels>
        </div>
    </div>
   
    <br id="hotels">
    
    <span class="searchImage"></span>
    <div class="search-bar">
        <div class="search-box">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input type="text" class="input-search form-control mb-3" placeholder="Type to Search..."
            [(ngModel)]="searchTerm">
          </div>
    </div>
    <h1 class="titleList">Best Skopje hotels</h1>

    <div class="listOfHotels">
        <div class="item" *ngFor="let hotel of getFilteredAccomodations">
            <app-cards-accomodation  [Hotel]="hotel">
            </app-cards-accomodation>
        </div>
    </div>
</section>
